<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <meta charset=utf-8>
    <title>Forrest Dwellers!</title>
  </head>
  <body>
     <h1>Failed to log in!</h1>

      <p>Try again <a href="/login">Log in</a></p>
    </form>
  </body
</html>