<html>
    <head></head>
    <body>
    <h1>Forrest Dwellers</h1>
    <p>Welcome to Forrest Dwellers!  Sign up below to stay at your perfect habitat!<p>
    <body>
    <form>
        <div>
            <label for="username"><b>Username</b></label>
            <input 
                type="text"
                placeholder="Enter username"
                name="username"
                id="username"
                required
            />
            <label for="email"><b>Email</b></label>
            <input
                type="text"
                placeholder="Enter Email"
                name="email"
                id="email"
                required
            />
            <label for="pwd"><b>Password</b></label>
            <input
                type="password"
                placeholder="Enter Password"
                name="pwd"
                id="pwd"
                required
            />
            <label for="pwd-repeat"><b>Repeat Password</b></label>
            <input
                type="password"
                placeholder="Repeat Password"
                name="pwd-repeat"
                id="pwd-repeat"
                required
            />
            <button type="submit">Register</button>
        </div>
        <div></div>
    <form>
<html>