<!DOCTYPE html>
<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
        <meta charset=utf-8>
        <title>Forrest Dwellers</title>
    </head>
    <body>
        <h1>Welcome to Forrest Dwellers!</h1>
        <div class="container">
        <p>Welcome to Forrest Dwellers!  Choose from options below:<p>
        <div class="container">
            <form method='GET' action="/home">
                <label for="create"><b>If you are new, click here to sign up!</b></label>
                <button type="submit">Create</button>
            </form>

            <form method='GET' action="/login">
                <label for="log in"><b>If you already have an account, click here!</b></label>
                <button type="submit">Log in</button>
            </form>

            <form method='GET' action="/spaces">
                <label for="spaces"><b>If you want to check out our habitats, click here!</b></label>
                <button type="submit">Explore</button>
            </form>
        </div>
    </body>
<html>             