<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
        <meta charset=utf-8>
        <title>Forrest Dwellers</title>
    </head>
    <body class="background">
        <h1>Welcome back to Forrest Dwellers!</h1>
        <p> Sign in to find your perfect habitat!</p>
    </body>
    <form method="POST" action="/login">
        <div class="container">
            <label for="username"><b>Username</b></label>
                <input 
                type="text"
                placeholder="Enter username"
                name="username"
                id="username"
                required
            />
            <label for="pwd"><b>Password</b></label>
            <input
                type="password"
                placeholder="Enter Password"
                name="password"
                id="pwd"
                required
            />
            <button type="submit">Login</button>
        </div>
        <div>
            <p>Don't have an account? <a href="/create_user">Create account</a>.</p>
        </div>
    </form>
<html>