<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="/style.css">
      <title>MakersBnB</title>
  </head>
  <header>
    <div class="wrap-logo">
      <a href="#logo" class="logo">Our Logo</a>
    </div>
    <nav>
      <a class="active" href="/spaces">Spaces</a>
      <a href="#requests">Requests</a>
      <a href="#sign_out">Sign out</a>
    </nav>
  </header>
  <body>
    <div class="spaces-container">
      <div class="body-info">
        <h1>Book a Space</h1>
        <p>Here you can find spaces for rest</p>
      </div>
      <div class="spaces-item">
        <div class="space-item-header">
          <div class="space-title">Brilliant space</div>
          <div class="space-price">199£</div>
        </div>
        <div class="space-content">
          <p class="space-describtion">
              Lorem ipsum dolor sit amet, consectetur 
              adipiscing elit, sed do eiusmod tempor incididunt 
              ut labore et dolore magna aliqua. Ut enim ad minim 
              veniam, quis nostrud exercitation ullamco laboris 
              nisi ut aliquip ex ea commodo consequat. Duis aute 
              irure dolor in reprehenderit in voluptate velit esse 
              cillum dolore eu fugiat nulla pariatur. Excepteur sint 
              occaecat cupidatat non proident, sunt in culpa qui 
              officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
      <div class="spaces-item">
        <div class="space-item-header">
          <div class="space-title">Brilliant space</div>
          <div class="space-price">199£</div>
        </div>
        <div class="space-content">
          <p class="space-describtion">
              Lorem ipsum dolor sit amet, consectetur 
              adipiscing elit, sed do eiusmod tempor incididunt 
              ut labore et dolore magna aliqua. Ut enim ad minim 
              veniam, quis nostrud exercitation ullamco laboris 
              nisi ut aliquip ex ea commodo consequat. Duis aute 
              irure dolor in reprehenderit in voluptate velit esse 
              cillum dolore eu fugiat nulla pariatur. Excepteur sint 
              occaecat cupidatat non proident, sunt in culpa qui 
              officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
      <div class="spaces-item">
        <div class="space-item-header">
          <div class="space-title">Brilliant space</div>
          <div class="space-price">199£</div>
        </div>
        <div class="space-content">
          <p class="space-describtion">
              Lorem ipsum dolor sit amet, consectetur 
              adipiscing elit, sed do eiusmod tempor incididunt 
              ut labore et dolore magna aliqua. Ut enim ad minim 
              veniam, quis nostrud exercitation ullamco laboris 
              nisi ut aliquip ex ea commodo consequat. Duis aute 
              irure dolor in reprehenderit in voluptate velit esse 
              cillum dolore eu fugiat nulla pariatur. Excepteur sint 
              occaecat cupidatat non proident, sunt in culpa qui 
              officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>