<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <meta charset=utf-8>
    <title>Forrest Dwellers</title>
  </head>
  <header>
    <div class="wrap-logo">
      <a href="/" class="logo">Forrest Dwellers</a>
    </div>
    <nav>
      <a href="/spaces">Spaces</a>
      <a href="/requests/<%=session[:id]%>">Requests</a>
      <a href="/">Sign out</a>
    </nav>
  </header>
  <body class="background">
    <div class="spaces-container">
      <div class="body-info">
        <h1>You space added success!</h1>
      </div>
    </div>
  </body>
</html>